# Environments
.env
venv/
env/
.venv/

# Python Cache
__pycache__/
*.pyc

# Data & Databases (DO NOT COMMIT)
data/raw_pdfs/
data/qdrant_db/
data/local_docstore/

# App & IDE Configs
.chainlit/
.vscode/
.files/